main, header {
    width: 80%;
    margin: 0 auto;
}
header nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 15px;
}
li a {
    text-decoration: none;
    color: black;
}
li a:hover {
    text-decoration: underline;
}
h1, h2 {
    text-align: center;
}
.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.item {
    border: 1px solid gray;
    border-radius: 10px;
}
.category-image {
    width: 100%;
    border-radius: 10px;
}
h6 a {
    text-decoration: none;
    color: black;
    font-size: 2em;
}
h6 a:hover {
    text-decoration: underline;
}
h6 {
    text-align: center;
}
.item-price {
    text-align: center;
}